# an example .env file with the variables you'll need

APOLLO_KEY=user:gh.0ceee890-9b4c-45f0-9a84-14c564dfa680:IdUAcg1Z24VN9oUrR7Y81A
APOLLO_GRAPH_REF=


APOLLO_KEY=service:flyby-396qpg:wBJlf5_X6FItwRsVTOooSQ \
  rover subgraph publish flyby-396qpg@current \
  --schema "path-to-your-subgraph-schema.{graphql,gql}" \
  --name your-subgraph-name \
  --routing-url "your-subgraph-public-endpoint"

PS F:\dev\apollo\odyssey-voyage-I\subgraph-reviews> rover subgraph publish flyby-396qpg@current --name locations --schema ..\subgraph-locations\locations.graphql --routing-url http://localhost:4001

rover subgraph publish flyby-396qpg@current --name reviews --schema ./reviews.graphql --routing-url http://localhost:4001

PS F:\dev\apollo\odyssey-voyage-I\subgraph-reviews> rover subgraph publish flyby-396qpg@current --name reviews --schema ./reviews.graphql --routing-url http://localhost:4001   

$env:APOLLO_KEY="service:flyby-396qpg:wBJlf5_X6FItwRsVTOooSQ"
$env:APOLLO_GRAPH_REF="flyby-396qpg@current"
./router

--- Entities
rover subgraph publish flyby-396qpg@current --name locations --schema .\subgraph-locations\locations.graphql 
rover subgraph publish flyby-396qpg@current --name reviews --schema .\subgraph-reviews\reviews.graphql 